/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*Global style */
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'VT323', monospace;
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    180deg,
  hsl(197, 63%, 16%) 0%,
  hsl(192deg 100% 18%) 15%,
  hsl(189deg 100% 23%) 30%,
  hsl(185deg 100% 27%) 44%,
  hsl(179deg 100% 30%) 58%,
  hsl(173deg 100% 35%) 72%,
  hsl(167deg 100% 40%) 86%,
  hsl(156deg 78% 55%) 100%
);
}

/*Style game*/
#memory-game{
    border-radius: 10px;
    border: 5px solid black;
    margin: 1% 20% 1% 20%;
    text-align: center;
    background:rgb(240,248,255, 0.33)
}

#title{
    font-size: 4vw;
    font-weight: bold; 
    opacity: 1;
}

table{
    text-align: center;
    margin: auto;
}

/*Apply style to the buttons*/

button{
    font-family: 'VT323', monospace;
    height: 8vw;
    width: 8vw;
    margin: 0.5vw;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(15, 52, 67);
    font-size: 4vw;
    background:hsla(208, 100%, 97%, 0.66);
}

button:hover{
    background:rgb(51, 230, 158);
}



/*Apply style to the info*/

#info{
    display:flex;
    justify-content: space-between;
}

.player-info{
    font-size: 2vw;
    padding: 3%;
}

#instructions{
    background: hsla(208, 100%, 97%, 0.66);
    font-size: 4vw;
    height: 4vw;
    width: 4vw;
    padding: 0%;
    border: 0.3vw solid black;
    margin-right: 4vw;
}

/* Media queries */

/* For large to medium screens sizes from 1240px wide and down */


